


@media (max-width: 480px) {
  .tee-time-scheduler {
      max-width: 100%; /
  }
}



.member-login-container {
    max-width: 480px;
    margin: 2em auto;
    padding: 1em;
    background: #f6f5f5; 
    border: 1px solid #050505; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: center;
  }
  
  .member-login-form label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .member-login-form input[type="email"],
  .member-login-form input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .member-login-form button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white; 
    margin-bottom: 1rem;
  }
  
  .member-login-form button:hover {
    background-color: var(--secondary-color);
  }
  
  .member-login-form p {
    margin-top: 1rem;
  }
  
  .member-login-form p a {
    color: var(--primary-color);
  }
  
  .member-login-form p a:hover {
    text-decoration: underline;
  }

  .member-dashboard {
    padding: 20px;
    text-align: center; 
}

.dashboard-buttons {
    margin-bottom: 30px;
}

.dashboard-link {
    margin-right: 20px;
    text-decoration: none;
}

.dashboard-link:last-child {
    margin-right: 0;
}

.btn {
    padding: 15px 30px; 
    font-size: 1rem; 
    transition: background-color 0.3s; 
}
.btn-primary {
    background-color: var(--primary-color);
    border: none; 
    color: white;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

.reservation-window {
    overflow-y: auto; 
    max-height: 400px; 
    display: flex;
    flex-direction: column;
    
}

.reservation-entry {
    background-color: #fff; 
    border: 1px solid #ddd; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    padding: 20px; 
    margin-bottom: 20px; 
    border-radius: 8px; 
}

.tee-time-details {
    margin: 5px 0;
}

.dashboard-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .dashboard-nav .dashboard-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
 
  
  .dashboard-nav .dashboard-links a {
    text-decoration: none;
    color: var(--text-color);
    
  }

  .register-container {
    max-width: 400px; 
    margin: auto; 
    padding: 1em;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; 
  }
  
  .register-heading {
    margin-bottom: 1em;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  
  .register-form .form-group {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .register-form .form-label {
    margin-bottom: 0.5em; 
  }
  
  .register-form .form-input {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1em; 
  }
  
  .submit-btn {
    width: 100%; 
    padding: 10px; 
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    border: none; 
    cursor: pointer; 
  }
  
  .submit-btn:hover {
    background-color: var(--secondary-color); 
  }
  
  .login-link {
    margin-top: 1em;
  }
  
  .login-link a {
    color: var(--primary-color);
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .form-label {
    margin-bottom: 0.5rem;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: var(--secondary-color);
  }
  

  .login-container {
    max-width: 400px;
    margin: auto;
    padding: 1em;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .error-message {
    color: #d9534f; 
    margin-top: 1rem;
  }
  

  

  @media (max-width: 480px) {
    .login-container,
    .register-container {
      width: 90%; 
    }
  }


.portaltitle {
    text-align: center;
    font-weight: bold;
}




.profilecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: #fff; 
    max-width: 400px; 
    margin: auto;
    gap: 1rem;
    margin-bottom: 100px;
}

.profilecontainer h1 {
    color: #333; 
    margin-bottom: 1rem;
}

.profilecontainer label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.profilecontainer input {
    width: 100%; 
    padding: 0.5rem;
    margin-top: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.profilecontainer button {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}


.profilecontainer button:first-of-type {
    background-color: #4CAF50; 
    color: white;
}


.profilecontainer button:last-of-type {
    background-color: #f0f0f0; 
    color: black;
}

.profilecontainer button:hover {
    opacity: 0.9; 
}


.profilecontainer label + label {
    margin-top: 1rem;
}

.profilecontainer input[readonly] {
    background-color: #e7e7e7; 
    color: #686868; 
}

.tee-time-past {
    color: gray; 
    background-color: #f0f0f0; 
    pointer-events: none; 
    opacity: 0.5; 
}

