.signout-btn {
    outline: none;
    background-color:#4CAF50 ;
    color: white;
    max-height: 75%;
  }
  
  .navbackground {
    border-radius: 5px;
    font-weight: bold;
    height: 75;
    background: linear-gradient(rgb(206, 250, 216), white, rgb(206, 250, 216));
    
  }

  .nav-link {
    color: black;
  }